{:source-paths ["src" "test"]
 :dependencies
 [[reagent "2.0.1"]
  [cider/cider-nrepl "0.62.2"]
  [org.babashka/sci "0.9.44"]]

 :nrepl
 {:middleware
  [cider.nrepl/cider-middleware]}

 :dev-http {3000 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn app.core/init!}}
        :js-options {:resolve-mode :npm}
        :compiler-options {:output-feature :es6}
        :after-load app.core/reload!}

  :test {:target :node-test
         :output-to "target/test.cjs"
         :autorun true}

  :perf {:target :node-script
         :output-to "target/perf.cjs"
         :main app.perf/main}}}
